<!--=== Breadcrumbs ===-->
<div>
    <div class="horizontal-menu">
        
        <h1>
            <p>
                Fragments de code
            </p>
        </h1>

        <ul>
            <li {% if current_active == 'list' %}class="active"{% endif %}>
                <a href="{{ path('htime_light_cms_snippet_list') }}">
                    [l] Lister
                </a>
            </li>

            <li {% if current_active == 'add' %}class="active"{% endif %}>
                <a href="{{ path('htime_light_cms_snippet_add') }}">
                    [+] Ajouter
                </a>
            </li>
        </ul>

    </div>
</div>
<!--=== End Breadcrumbs ===-->