{% extends 'HtimeLightCmsBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{% include 'HtimeLightCmsBundle:Snippet:breadcrumbs.html.twig' with { 'current_active': null } %}
{% endblock %}

{% block body %}
	<h2>Modifier un fragment de code</h2>

	<p>
		Remplissez le formulaire pour modifier le fragment de code.
	</p>

	{% include "HtimeLightCmsBundle:Snippet:form.html.twig" %}

	<a href="{{ path('htime_light_cms_snippet_display', { 'id': snippet.id }) }}">
		[<] Retour au fragment de code
	</a>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/htimelightcms/plugins/edit_area/edit_area_full.js') }}"></script>
	<script type="text/javascript">
		editAreaLoader.init({
			id:              "htime_light_cms_bundle_snippet_content",
			syntax:          "html",
			start_highlight: true
		});
	</script>
{% endblock %}