{% extends 'HtimeLightCmsBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{% include 'HtimeLightCmsBundle:Snippet:breadcrumbs.html.twig' with { 'current_active': 'list' } %}
{% endblock %}

{% block body %}

	<h2>Liste des fragments de code</h2>

	<table style="width: 100%;">

		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Outils</th>
			</tr>
		</thead>

		<tbody>
			{% for snippet in snippets %}
			<tr>
				<td align="center">{{ snippet.id }}</td>
				<td align="center">{{ snippet.name }}</td>
				<td align="center">
					<div class="horizontal-menu">
						<ul>
							<li>
								<a href="{{ path('htime_light_cms_snippet_display', { 'id' : snippet.id }) }}">
									Voir
								</a>
							</li>
							<li>
								<a href="{{ path('htime_light_cms_snippet_edit', { 'id' : snippet.id }) }}">
									Edit
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="3">Pas de fragment de code enregistré</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>

{% endblock %}