{% extends 'HtimeLightCmsBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{% include 'HtimeLightCmsBundle:Media:breadcrumbs.html.twig' with { 'current_active': 'add' } %}
{% endblock %}

{% block body %}
	<h2>Ajouter un média</h2>

	<p>
		Remplissez le formulaire pour ajouter un média.
	</p>

	{% include "HtimeLightCmsBundle:Media:form.html.twig" %}

	<a href="{{ path('htime_light_cms_media_list') }}">
		[<] Retour à la liste des médias
	</a>
{% endblock %}